.header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1em;
}

.header-image {

    width: 40rem;
}

.header-image:hover {

    width: 40rem;
    animation-name: wobb;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 500ms;
    display: inline-block;
    transform: translateY(0px);
}




@keyframes wobb {

    0%,
    100% {
        transform: translateY(0px)
    }

    25% {
        transform: translateY(-10px)
    }

    75% {
        transform: translateY(9px)
    }
}

.btt-btn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 50px;
    width: 50px;
    font-size: 50px;
    background-color: paleturquoise;
    border-radius: 10px;
}