.header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1em;
}

.header-image {

    width: 40rem;
}

.header-image:hover {

    width: 40rem;
    animation-name: wobb;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 500ms;
    display: inline-block;
    transform: translateY(0px);
}

#act-container {
    margin-bottom: 5em;
}


@keyframes wobb {
    0%,
    100% {
        transform: translateY(0px)
    }

    25% {
        transform: translateY(-10px)
    }

    75% {
        transform: translateY(9px)
    }
}

.btt-btn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 7%;
    width: 5%;
    font-size: 50px;
    background-color: paleturquoise;
    border-radius: 10px;
    border: none;
    font-size: 30pt;
    color: white;
}

.rainbow:hover{
    background-image: linear-gradient(
        to right, 
        #e55a61,
        #F68B1D, 
        #FCED00,
        #009E4F,
        #00AAC3,
        #c15bd5
    );
    animation:slidebg 5s linear infinite;
}

.banana {
    text-align: center;
    color: grey;
}

.copyright {
    font-size: 20px;
}

.bob {
    font-size: 15px;
    margin-bottom: 2%;
}