.activities-container {
    margin: 1.5em;
    /* border: 3px solid black; */
    min-height: 90vh;
    max-height: 90vh;
}

.act-nav--homepage {
    height: 47vw;
    background-color: rgba(255, 249, 143, 0.796);
    width: 80vw;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    border-bottom-left-radius: 3em;
}

.act-nav--tbody {
    height: 70vh;

}

.act-nav--tr {
    width: 80vw;
    /* border: 8px double black; */

}

.act-nav--td {
    border: 3px solid black;
    width: 10vw;
    height: 3vw;
    border: none;
    background-color: transparent;
}

.act-nav--td-act {
    width: 120vh;
    min-width: 90vh;
    height: 70vh;
    position: relative;
    text-align: center;
    /* border: 3px solid black; */
}

.activity-header {
    max-width: 50vw;
}

.tab-dnd,
.tab-home,
.tab-match,
.tab-odd,
.tab-quiz {
    max-height: 2em;
    text-align: center;

}

.blank-row {
    height: 8em;
}

.tab-home {
    background-color: rgba(255, 249, 143, 0.796);
    border-top-left-radius: 5em;
}

.tab-match {
    background-color: rgb(214, 150, 46);
}

.tab-odd {
    background-color: rgba(225, 255, 160, 0.827);
    border-bottom-left-radius: 5em;
}

.tab-quiz {
    background-color: rgba(255, 207, 207, 0.891);
}

.tab-dnd {
    background-color: rgb(246, 172, 146);
}