.activities-container {
    margin: 1.5em;
    border: 3px solid black;
    min-height: 90vh;
    max-height: 90vh;
}

.act-nav--tbody {
    min-height: 70vh;
}

.act-nav--tr{
    width: 80vw;
    border: 8px double black;
}

.act-nav--td {
    border: 3px solid black;
    background-color: transparent;
}

.act-nav--td-act {
    min-width: 87vw;
    min-height: 90vh;
    position: relative;
    text-align: center;
    border: 3px solid black;
}

.tab-dnd, .tab-home, .tab-match, .tab-odd, .tab-quiz {
    max-height: 2em;
    text-align: center;
}

.blank-row {
    height: 8em;
}

.tab-home {
    background-color: seashell;
}

.tab-match {
    background-color: papayawhip;
}

.tab-odd {
    background-color: wheat;
}

.tab-quiz {
    background-color: beige;
}

.tab-dnd {
    background-color: blanchedalmond;
}