.colouring-container {
    margin: 1.5em;
    /* border: 3px solid black; */
    min-height: 90vh;
    max-height: 90vh;
}

.colour-nav--homepage {
    height: 70vh;
    background-color: #c0e1f2;
    padding: 31px;
    width: 80vw;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    border-bottom-left-radius: 3em;
}



.colour-nav--tbody {
    height: 70vh;

}

.colour-nav--tr {
    width: 80vw;
    /* border: 8px double black; */

}

.colour-nav--td {
    border: 3px solid black;
    width: 10vw;
    height: 3vw;
    border: none;
    background-color: transparent;
}

.colour-nav--td-colour {
    width: 120vh;
    min-width: 90vh;
    height: 70vh;
    position: relative;
    text-align: center;
    /* border: 3px solid black; */
}

.colour-in-header {
    max-width: 50vw;
}

.tab-color-home{
    background-color: #c0e1f2;
    border-top-left-radius: 5em;
    text-align: center;
}

.tab-robin,
.tab-owl,
.tab-eric {
    max-height: 2em;
    text-align: center;

}

.blank-row {
    height: 8em;
}

.tab-robin {
    background-color: rgba(103, 214, 255, 0.793);
}

.tab-owl {
    background-color: rgba(89, 243, 233, 0.542);;
}

.tab-eric {
    background-color: rgba(119, 139, 255, 0.683);;
    border-bottom-left-radius: 5em;
}