.dnd-main {
    text-align: center;
    height: 47vw;
    min-height: 70vmin;
    width: 83vw;
    min-width: 70vw;
    padding: 0.5em;
    background-color: #ffce74;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    border-bottom-left-radius: 3em;
}

.drag-n-drop {
    display: grid;
    width: 90%;
    height: 90%;
    /* % value below will determine the width of each column */
    grid-template-columns: repeat(auto-fill, 13%); 
    align-items: flex-start;
    
}

/* trying to get the first list with all the draggable foods to be a row on top, then have all the birds' lists be empty columns below that -- come back to later if time to figure out */
/* .drag-n-drop:not(:first-of-type) {
    width: 90vw;
    height: 100%;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, 100px);
} */

.group-title {
    text-align: center;
    margin-bottom: 0.75em;
    margin-top: 0;
    padding: 0.5em;
    border-radius: 5px;
    background-color: blanchedalmond;
}

.dnd-group {
    background-color: rgb(230, 132, 96);
    border-radius: 5px;
    padding: 0.25em;
    /* width: 6em; */
    
}

.dnd-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    color: black;
    min-height: 30px;
    border-radius: 5px;
}

.dnd-item:not(:last-of-type) {
    margin-bottom: 0.5em;
}

.dnd-item * {
    margin: 0;
}

/* style item while it's being dragged */
.current {
    background-color: #909090;
}

/* styles for items when dropped into a different bird's list */
.pengu {
    background-color: #BCF4FF;
    border: 2px solid #FFD200;
}

.robin {
    background-color:  #FF92E3;
    border: 2px solid #E15F49;
}

.peacock {
    background-color: #FFE25F;
    border: 2px solid #00579E;
}

.pelican {
    background-color: #BCF4FF;
    border: 2px solid #F78B00;

}

.owl {
    background-color: #1B1B33;
    border: 2px solid #D3A258;
    color: white;
}

.duck {
    background-color: #4ED054;
    border: 2px solid #007F00;
}

#dnd-frame {
    display: flex;
    justify-content: center;
}