#svg_001 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 1.5;
    stroke: black;
    stroke-width: 8px;
    stroke-linecap: "round";
    stroke-dashoffset: "0";
}

#svg {
    margin-top: 20px;
    padding:10px;
    width: 70%;
    margin:auto;
    padding-top: 10px;
    border: solid 1px;
    border-radius: 20px;
    height: 600px;
}

#color-box {
    margin-left: auto;
    margin-right:  auto;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    width : auto;
    justify-content: center;
    gap: 8px;
    width :67%;
}

#color-box > div {
    width: 90px;
    text-align: center;
    margin-top:auto;
    margin-bottom: auto;
    height: 50px;
    border-radius: 10px;
    line-height: 50px;
}

input {

    height: 50px;
    width: 90px;
    border-radius: 10px;

}