* {
    font-family: 'Varela Round', sans-serif;
}

.info-container {
    padding: 20px;
    margin: 0.5rem;
    border: rgb(53, 53, 53);
    border-radius: 15px;
    align-items: center;
    width: 85vw;
}

.bird-card-list-container {
    padding: 10px;
    align-items: center;
}

.bird-card-list--grid {
    display: flex;
}

.bird-card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 31%);
    gap: 2rem;
    width: 100%;
    height: 100%;
    padding-bottom: 6vw;
    align-items: center;
    border-radius: 5px;
}

.bird-card {
    padding: 6rem;
    margin-top: 8vh;
    margin-bottom: 8vh;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    border-radius: 5px;
}

.modal-box {
    position: absolute;
    top: 40px;
    left: 120px;
    right: 120px;
    bottom: 20px;
    border-radius: 15px;
    border: hidden;
    background-color: papayawhip;
    padding: 2em;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(133, 88, 179);
}

.modal {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 15% 85%;
    grid-template-areas:
    "name button"
    "info image"
}

.modal-title h1{
    font-size: 4em;
    grid-area: "name";
    justify-items: center;
}

.bird-info-fact {
    grid-area: "info";
    margin-top: 2em;
    margin-left: 1em;
}

.bird-info-line {
    font-size: auto;
    color: rgb(21, 21, 21);
}

.bird-image-container {
    z-index: 1;
    grid-area: "image";
    place-self: start;
    margin-bottom: -500px;
}

.bird-image{
    max-width: 90%;
    max-height: auto;
}

.close-modal{
    grid-area: "button";
    place-self: end;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-modal-btn{
    margin-top: -50vh;
    padding: 1.5vh 1.7vw;
    line-height: 1em;
    border-radius: 20px;
    border: 3px solid rgb(47, 47, 47);
    color: rgb(47, 47, 47);
    position: relative;
    overflow: hidden;
    background: transparent; 
    transition: all .35s;
    font-size: 3em; 
}

.close-modal-btn:before,
.close-modal-btn:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: rgb(255, 81, 81);;
    z-index: -1;
    transition: all .35s;
}

.close-modal-btn:before{
    opacity: .5;
}

.close-modal-btn:after{
    transition-delay: .2s;
}

.close-modal-btn:hover{
    color: #fff;
}

.close-modal-btn:hover:before,
.close-modal-btn:hover:after{
    top: 0;
}

.close-modal-btn:hover {
    cursor: pointer;
}

.close-modal-btn:active {
    transform: translateY(4px)
}

.flip-card-inner {
    grid-area: auto;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.bird-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    color: black;
}

.flip-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transform: rotateY(180deg);
}

.bird-card-img {
    max-width: 100%;
    max-height: 100%;
    object-fit:contain;
    border-radius: 20px;
}

#h2-header {
    margin-right: 5em;
    text-align: right;
}