.quiz-container {
        display: grid;
        justify-content: space-evenly;
        /* grid-template-areas:
        "score"
        "image"
        "questions"    
        "answers answers"
        "answers answers"; */
        background-color: #e4e4e4;
        width: 100%;
        min-height: 5em;
        border-radius: 15px;
    }
    
    
    .score-section {

        display: flex;
        align-items: center;
        grid-area: 'score';
    }
    
    .question-section {
        /* grid-area: 'questions'; */
        width: 100%;
        justify-content: space-around;
    
    }
    
    .question-count {
        margin-bottom: 2em;
        display:flex;
        align-items: center;
    }
    
    .question-image {
        grid-area: 'image';
        object-fit: contain;
        max-width: 50%;
        max-height: 50%;
    }

    .question-count span {
        font-size: 28px;
        font-family: 'Work Sans', sans-serif;
    }
    
    .question-text {
        margin-bottom: 2em;
    }

    .answer-section {
        grid-area: 'answers';
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .answer-response {
        margin-top: 1em;
        padding-bottom: 30px;
        align-self: center;
    }
    
  
    
    .correct {
        background-color: #2f922f;
    }
    
    .incorrect {
        background-color: #ff3333;
    }
    
   
    