.quiz-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-area:
        "image count",
        "image quiz";
    /* justify-content: space-between; */
    background-color: rgba(255, 207, 207, 0.891);
    width: 100%;
    min-height: 9em;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    border-bottom-left-radius: 3em;
    width: 80vw;
    padding: 1em;
}

.show-score {
    margin-top: 10em;
    margin-bottom: 20em;
}

.score-section {
    text-align: center;
    grid-area: 'score';
    font-size: 1.5em;
}

.question-section {
    margin-left: 2em;
    width: 100%;
    /* justify-content: space-between; */
    grid-area: 'quiz';

}

.question-count {
    grid-area: 'count';
}

.question-image {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    margin-top: -5em;
    margin-bottom: 3em;
    border-radius: 30px;
}

.question-count span {
    font-size: 3vw;
}

.question-text {
    margin-bottom: 0.5em;
    font-size: 2vw;
    font-weight: 800;
    padding-top: 2em;
}

.answer-section {
    padding-top: 50px;
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content:space-between; */


}

.answer-response {
    margin-top: 1em;
    align-self: center;
    font-size: 2vw;
}


.quiz-title{
    font-size: 1.5em;
    padding-top: 1em;
    margin-bottom: -2em;
}

.quiz-button {
    margin: 1vw;
    width: 70%;
    font-size: 16px;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    /* margin-bottom: 0.5em; */
    align-self: center;
    border: none;
    cursor: pointer;
}

/* .quiz-button::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
}

.quiz-button:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.quiz-button::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transition: transform .3s ease;
} */



.correct {
    background-color: #59c851a4;
}

.incorrect {
    background-color: #ff4d78;
}

.quiz-button-next:hover {
    background-image: linear-gradient(to right,
            #f68add,
            #f68add 16.65%,
            #59c851 16.65%,
            #59c851 33.3%,
            #47cefb 33.3%,
            #47cefb 49.95%,
            #ffcf06 49.95%,
            #ffcf06 66.6%,
            #ff9900 66.6%,
            #ff9900 83.25%,
            #ff4d78 83.25%,
            #ff4d78 100%,
            #f68add 100%);



    animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

.quiz-button:hover {
    background-color: #d4d4d4;

}

.quiz-button:focus {
    outline: none;
}

.quiz-button svg {
    margin-right: 5px;
}

.quiz-restart {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border:none;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;

}
.quiz-restart:hover {
    background-color: #d4d4d4;

}

.show-score {
    grid-column: 2;
    text-align: center;
}
